<article class="row">
  <header>
    <h1>Flickr photos for <%=h @place ? @place.name : "all places" %></h1>
  </header>
  <ul class="flickr_photos">
    <%= render @flickr_photos %>
  </ul>  
</article>
